@use "@angular/material" as mat;
@include mat.core();

$application-primary: (
  default: #E52A30,
  lighter: #FF645A,
  darker: #be171d,
  text: black,
  text-light: #ececec,
);

$application-accent: (
  default: #3c4e7c,
  lighter: #9aa5bb,
  darker: #484e5e,
  text: #000,
  text-light: #e2e4f8,
);

$application-warn: mat.define-palette(mat.$red-palette, 800, 700, 900);

$application-theme: mat.define-light-theme(
  (
    color: (
      primary: $application-primary,
      accent: $application-accent,
      warn: $application-warn,
    ),
  )
);

@include mat.all-component-themes($application-theme);

$default-background: #ebebeb;
$text-color: rgb(31, 31, 31);
$blue: #26a9e1;
$light-blue: #d0e8f3;
$dark-blue: #117caa;
$gradient-start: #3b4f7c;
$gradient-end: #2aa9e0;
$orange: rgb(236, 114, 0);
$green: rgb(10, 161, 86);
$blue-gray: #3a465d;
