<div class="auth-bg is-flex is-flex-direction-column is-justify-content-center">
  <div class="max-width-800 auto-margin">
    <div
      class="auth-container is-flex is-flex-direction-column is-justify-content-center is-align-items-center"
    >
      <h1>Neautorizovana radnja! ☠️</h1>
      <h2>Niste autorizovani da izvršite željeni zadatak!</h2>
      <div>
        <a [routerLink]="['/']">
          <button mat-flat-button color="primary">Povratak</button>
        </a>
      </div>
    </div>
  </div>
</div>
